.texto-centralizado {
    text-align: center;
}
.cor-fundo {
    background-color: aliceblue;
}
 body {
    font-family: verdana;
}
            
/* Aqui tiramos o padding e margin, assim deixamos a lista "flutuando" sem ficar preso em algum lugar*/
#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

/* Para a tag LI, colocando como inline fará todas as opções ficarem em uma linha horizontal */
#menu ul li { display: inline; }

#menu ul li a {
    padding: 10px 20px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid;
    font-size: 22px;
}

/* Hover é para pegar o evento do mouse passando por cima do elemento */
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

div {
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
}