# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
venv/
env/
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python distribution / packaging
build/
dist/
*.egg-info/